<%= render "shared/navbar" %>

<div class="application-container-light">
  <div class="container text-center">

    <h2>Lesson bookings</h2>
    <p> Class: <strong> <%= @booking.lesson.description %> </strong> </p>
    <p> Owner: <strong> <%= @booking.user.first_name %>
      <%= @booking.user.last_name %> </strong></p>
      <%= simple_form_for([@lesson, @booking]) do |f| %>
       <%= f.input :status, collection: Booking.statuses.keys %>
       <%= f.submit "Update booking"%>
     <% end %>
  </div>
</div>
