<%= render "shared/navbar" %>
<div class="application-container-light">
  <div class="container">

  <div class="long-card-container">
    <h2 class="text-center"> Bookings</h2>
      <% @bookings.each do |booking| %>
      <div class="col-xs-12 text-left">
          <strong><p>Status: </strong> <%= booking.status %> (booking_id: <%= booking.id %>) </p>
          <strong><p>Start Date:</strong> <%= booking.lesson.start_date.strftime("%d/%m/%Y") %></p>
          <strong><p>Start Time: </strong> <%= booking.lesson.start_time.strftime("%H/%M") %></p>
          <strong><p>Substitute Teacher:</strong>
            <%= link_to user_path(booking.user) do %>
            <%= booking.user.first_name %> <%= booking.user.last_name %>
            <% end %> </p>
          <strong><p>Requesting Teacher: </strong><%= booking.lesson.user.first_name %> <%= booking.lesson.user.last_name %> </p>
          <strong><p>Class: </strong><%= booking.lesson.description %></p>
          <strong><p>Duration:</strong> <%= booking.lesson.duration %></p>
          <strong><p>Price: </strong><%= booking.lesson.price %></p>
          <strong><p>Lesson_id: </strong><%= booking.lesson.id %></p>
      </div>
      <div class="col-xs-12 text-center" >
          <%= link_to "Update status", edit_booking_path(booking),class:"dark-button" %></p>
          <p> ................................ </p>
          <% end %>
         <%= link_to "Back to classes", lessons_path, class:"dark-button" %></p>
      </div>
  </div>
</div>
