<%= render "shared/navbar" %>

<div class="application-container-light">
  <div class="show-container">
    <div class="row">

      <div class="big-card-image">
        <div class="col-xs-12 text-center card-header">
          <p><%= @lesson.subject.name %></p>
        </div>
        <div class="col-xs-12 text-center card-bottom">
          <p><%= @lesson.status %></p>
        </div>
      </div>

      <div class="col-xs-12 text-center">

          <h3 class="confirm-text"><strong>Please Confirm:</strong> <p class="confirm-name"><%= @lesson.description %></p></h3>
          <div class="devise-input-form">
            <%= simple_form_for([@lesson, @booking]) do |f| %>
              <p class="confirm-urgent"><%= @lesson.urgent %></p>
              <p class="confirm-address"><strong>Location:</strong> <%= @lesson.address %></p>
              <p class="confirm-time"><strong>Start Time:</strong> <%= @lesson.start_time.strftime("%H:%M") %></p>
              <p class="confirm-duration"><strong>Duration:</strong> <%= @lesson.duration %> min.</p>
              <p class="confirm-cost"><strong>Price:</strong> <%= @lesson.price %>€</p>
              <%= f.submit "Confirm Booking", class: "dark-button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
