<%= render 'shared/navbar' %>
<div class="application-container-dark">
  <div class="wrapper-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 text-center">
            <%= simple_form_for(@user) do |f| %>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :email %>
              <%= f.input :phone_number %>
              <%= f.input :bio %>
              <%= f.input :website_url %>
              <%= f.input :facebook_url %>
              <%= f.input :instagram_url %>
              <%= f.input :available %>
              <%= f.input :address %>
              <%= f.input :subject_ids, as: :check_boxes, collection: Subject.all %>
              <%= f.input :weekday_preference, as: :check_boxes, collection: [['Monday', 1],
              ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6],
              ['Sunday', 7]] %>
              <%= f.input :daytime_preference, as: :check_boxes, collection: [['Morning (6-12)', 1],
              ['Afternoon (12-18)', 2], ['Evening (18-22)', 3]] %>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
              <%= f.submit class: "login-btn" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
