<%= render 'shared/navbar' %>
<div class="application-container-light">
  <div class="container show-container">

    <div class="big-card-image">
      <div class="col-xs-12 text-center card-header">
        <% if @user.first_name  || @user.last_name %>
          <p><%= @user.first_name%> <%= @user.last_name%></p>
        <% else %>
          <p><%= @user.email%></p>
        <% end %>
      </div>
      <div class="col-xs-12 text-center card-bottom">
        <p>Details</p>
      </div>
    </div>

    <div class= "user-show-icons text-center">
      <ul>
        <li> <%= link_to "http://www.facebook.com/krystonen" do %>
          <i class="fab fa-facebook"> </i> <% end %> </li>
        <li><%= link_to "http://www.instagram.com/krystonen" do %>
          <i class="fab fa-instagram"></i> <% end %> </li>
        <li><%= link_to "http://www.instagram.com/krystonen" do %>
          <i class="fas fa-link"></i> <% end %> </li>
      </ul>
    </div>

    <div class="show-content user-show-content text-left text-left">
      <p><strong>Email:</strong> <%= @user.email%></p>
      <p><strong>Phone number:</strong> <%= @user.phone_number%></p>
      <p><strong>Available:</strong>
        <% if @user.available%>
        <%= "Yes" %>
        <% else %>
        <%= "No" %>
        <% end %>
      </p>
      <p><strong>Address: </strong><%= @user.address%></p>
      <p><strong>Bio: </strong> <%= @user.bio%></p>
    </div>

    <!--  links to be added: add a class, edit settings -->
    <div class="col-xs-12 text-center">
      <p><%=link_to 'View classes', lessons_path, class:"dark-button" %> </p>
      <% if policy(@user).edit? %>
      <p><%=link_to 'Edit profile page', edit_user_path %> </p>
      <% end %>
    </div>

  </div>
</div>

