<div class="container">
  <div class="row">

    <div class="long-card">
      <div class="long-card-img">
        <p class="long-card-date"><%= @lesson.start_date.strftime("%d-%m-%Y") %></p>
        <p class="long-card-day"><%= @lesson.start_date.strftime("%a") %></p>
        <p class="long-card-time"><%= @lesson.start_date.strftime("%H:%M") %></p>
      </div>
      <div class="long-card-body">
        <strong><p class="description"><%= lesson.description %></p></strong>
        <p class="cost"><%= lesson.price %>€</p>
      </div>
      <div class="long-card-right">
        <p class="status"><%= lesson.status %></p>
        <p class="duration"><%= lesson.duration %> min.</p>
      </div>
    </div>

  </div>
</div>


     <!--  <div class="card-category">
        <%= lesson.address %>
      </div>
      <div class="card-description">
          <h2><%= lesson.description %></h2>
          <p class="time"><p><%= lesson.start_time %></p>
          <p class="time"><p><%= lesson.start_date %></p>
          <p class="cost"><p><%= lesson.price %>€</p>
      </div>
      <div class="card-status">
        <p class="status"><%= lesson.status %></p>
        <p class="duration"><%= lesson.duration %> min.</p>
      </div>
      <a class="card-link" href="#" ></a> -->
