<%= render 'shared/navbar' %>
<div class="application-container-dark">
 <div class="jumbotron jumbo-img">
   <h1>SubMaster</h1>
   <p>"Find your perfect sub easily"</p>
 </div>
<div class="container-fluid">
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= link_to "View open classes", lessons_path, class: "login-btn"%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= link_to "Request a sub", new_lesson_path, class: "login-btn"%>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= link_to "Sign Up", new_user_registration_path, class: "login-btn"%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= link_to "Log In", new_user_session_path, class: "login-btn"%>
      </div>
    </div>
  <%end%>
    <div class="row">
      <div class="col-xs-12 text-center home-body">
        <h2> For busy teachers</h2>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center home-body">
        <h2> For studio managers</h2>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
      </div>
    </div>
  </div>
</div>
