<div class="wrapper-light">
  <div class="container">

    <div class="row">
     <div class="col-xs-6 text-center">
      <%= link_to "Sub a class", lessons_path, class: "dark-button"%>
      </div>
      <div class="col-xs-6 text-center">
       <%= link_to "Your requests", user_lessons_path(@user), class: "dark-button"%>
     </div>
    </div>

    <% if params[:user_id] %>
      <%= link_to "Open", user_lessons_path(@user, show:"Open")%>
      <%= link_to "Pending", user_lessons_path(@user, show:"Pending")%>
      <%= link_to "Covered", user_lessons_path(@user, show:"Confirmed")%>
    <% else %>
      <%= link_to "Open", lessons_path(@lesson, show:"Open")%>
      <%= link_to "Pending", lessons_path(@lesson, show:"Pending")%>
      <%= link_to "Covered", lessons_path(@lesson, show:"Confirmed")%>
    <% end %>

      <ul>
      <% @lessons.each do |lesson| %>
        <li><%= lesson.status %>
        <%= link_to "#{lesson.description}",  lesson_path(lesson)%>
        <%= lesson.price %>
        <%= lesson.start_time.strftime("%Y-%m-%d (%H:%M)") %>
        <%= lesson.start_date.strftime("%Y-%m-%d (%H:%M)") %>
        <%= lesson.duration %>
        <%= lesson.address %>
      </li>
      <% end %>
      </ul>

      <%= link_to "Create new class", new_lesson_path%>
  </div>
</div>