<%= render 'shared/navbar' %>

<div class="wrapper-light">
  <div class="container-fluid show-container">
      <div class="row">
        <div class="col-xs-6 text-center index-header index-left">
          <%= link_to "Sub a class", lessons_path%>
        </div>
        <div class="col-xs-6 text-center index-header index-right">
          <%= link_to "Your requests", user_lessons_path(@user)%>
        </div>
      </div>

      <% if params[:user_id] %>

      <div class="row">
        <div class="col-xs-4 text-center index-header index-left">
          <%= link_to "Open", user_lessons_path(@user, show:"Open")%>
        </div>
        <div class="col-xs-4 text-center index-header index-middle">
              <%= link_to "Pending", user_lessons_path(@user, show:"Pending")%>
        </div>
        <div class="col-xs-4 text-center index-header index-right">
            <%= link_to "Covered", user_lessons_path(@user, show:"Confirmed")%>
        </div>
      </div>

    <% else %>

    <div class="row">
      <div class="col-xs-4 text-center index-header index-left">
        <%= link_to "Open", lessons_path(@lesson, show:"Open")%>
      </div>
      <div class="col-xs-4 text-center index-header index-middle">
        <%= link_to "Pending", lessons_path(@lesson, show:"Pending")%>
      </div>
      <div class="col-xs-4 text-center index-header index-right">
        <%= link_to "Covered", lessons_path(@lesson, show:"Confirmed")%>
      </div>
    </div>

    <% end %>

      <ul>
      <% @lessons.each do |lesson| %>
        <li><%= lesson.status %>
        <%= link_to "#{lesson.description}",  lesson_path(lesson)%>
        <%= lesson.price %>
        <%= lesson.start_time.strftime("%Y-%m-%d (%H:%M)") %>
        <%= lesson.duration %>
        <%= lesson.address %>
      </li>
      <% end %>
      </ul>

      <%= link_to "Create new class", new_lesson_path%>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="long-card">
      <div class="long-card-img">
        <div class="long-card-text">

          <p class="long-card-date"><%= @lesson.start_date.strftime("%d/%m/%Y") %></p>
          <p class="long-card-day"><%= @lesson.start_date.strftime("%a") %></p>
          <p class="long-card-time"><%= @lesson.start_date.strftime("%H:%M") %></p>
        </div>
      </div>

      <div class="long-card-body">
        <p class="description"><%= lesson.description %></p>
        <p class="address"><%= lesson.address %></p>
        <p class="cost"><%= lesson.price %>€</p>
      </div>
      <div class="long-card-right">
        <p class="status"><%= lesson.status %></p>
        <p class="duration"><%= lesson.duration %> min.</p>
      </div>
    </div>

  </div>
</div>
