<%= render 'shared/navbar' %>
<div class="wrapper-light">
  <div class="container">
    <div class="row">
      <ul>
        <li>
          <%= @lesson.status %>
          <%= @lesson.start_date.strftime("%d-%B-%Y (%A)") %>
          <%= @lesson.duration %>
          <%= @lesson.price %>
          <%= @lesson.address %>
          <%= @lesson.description %>
          <%= link_to "Book this boat", new_lesson_booking_path(@lesson)%>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render 'shared/card', lesson: @lesson %>
  </div>
</div>

