<%= render 'shared/navbar' %>

<div class="wrapper-light">
  <div class="container-fluid show-container">
    <div class="row">

      <div class="big-card-image">
        <div class="col-xs-12 text-center card-header">
          <p><%= @lesson.subject.name%></p>
        </div>
        <div class="col-xs-12 text-center card-bottom">
          <p><%= @lesson.status%></p>
        </div>
      </div>
      
      <div class="col-xs-12 text-left show-content">
        <p><strong> <%= @lesson.urgent %> </strong> </p>
        <p><strong>Date: </strong>  <%= @lesson.start_date.strftime("%d-%B-%Y (%A)") %></p>
        <p><strong>Time: </strong> <%= @lesson.start_time.strftime("%H:%M") %></p>
        <p><strong>Duration: </strong><%= @lesson.duration %> min. </p>
        <p><strong>Price: </strong><%= @lesson.price %> € </p>
        <p><strong>Address: </strong><%= @lesson.address %> </p>
        <p><strong>Additional info: </strong><%= @lesson.description %> </p>
      </div>
      
      <div class="col-xs-12 show-links" >
         <p>  <% if @lesson.bookings.count < 3 %>
          <%= link_to "Book this boat", new_lesson_booking_path(@lesson)%>
          <% else %>
          <%= "Sorry, this class has enough bookings, try a different class!" %>
          <% end %>
              </p>
        <p><%= link_to "Sub this class", new_lesson_booking_path(@lesson)%> </p>
      </div>
 
    </div>
  </div>
</div>

<%= cl_image_tag("avatar_placeholder",
      width: 400, height: 300, crop: :fill) %>
