<%= render 'shared/navbar' %>
<div class="wrapper-light">
  <div class="container">
    <div class="row">

  <ul>
    <li>
  <%= @lesson.status %>
  <%= @lesson.start_time %>
  <%= @lesson.duration %>
  <%= @lesson.price %>
  <%= @lesson.address %>
  <%= @lesson.description %>
  <%= @lesson.urgent %>
  <% if @lesson.bookings.count < 3 %>
  <%= link_to "Book this boat", new_lesson_booking_path(@lesson)%>
  <% else %>
  <%= "Sorry, this class has enough bookings, try a different class!" %>
  <% end %>
  </li>
</ul>

    </div>
  </div>
</div>

<%= cl_image_tag("avatar_placeholder",
      width: 400, height: 300, crop: :fill) %>
