<% content_for :meta_title, "#{@lesson.description} is on #{DEFAULT_META["meta_product_name"]}" %>

<%= render 'shared/navbar' %>
<div class="application-container-light">
  <div class="container show-container">

  <div class="big-card-image">
    <div class="col-xs-12 text-center card-header">
      <p><%= @lesson.subject.name%>
      <% if policy(@lesson.user).edit? %>
          <%= link_to edit_lesson_path(@lesson) do %>
            <i class="far fa-edit edit-icon"> </i>
          <%end %>
      <% end %></p>


    </div>

    <% if @lesson.subject.name == "Crossfit" %>
      <%= image_tag "crossfit.jpg", width: "100%",background:"center" %>
    <% elsif @lesson.subject.name == "Zumba" %>
      <%= image_tag "zumba.jpg", width: "100%",background:"center" %>
    <% elsif @lesson.subject.name == "Yoga" %>
      <%= image_tag "yoga.jpg", width: "100%",background:"center" %>
    <% elsif @lesson.subject.name == "Pilates" %>
      <%= image_tag "pilates.jpg", width: "100%",background:"center" %>
    <% elsif @lesson.subject.name == "Aerobic" %>
      <%= image_tag "aerobic.jpg", width: "100%",background:"center" %>
    <% elsif @lesson.subject.name == "Body Balance" %>
      <%= image_tag "bodybalance.jpg", width: "100%",background:"center" %>
    <% elsif @lesson.subject.name == "Boxing" %>
      <%= image_tag "boxing.jpg", width: "100%",background:"center" %>
    <% elsif @lesson.subject.name == "Dance" %>
      <%= image_tag "dance.jpg", width: "100%",background:"center" %>
    <% elsif @lesson.subject.name == "Kick Boxing" %>
      <%= image_tag "kickboxing.jpg", width: "100%",background:"center" %>
    <% elsif @lesson.subject.name == "Pole Dance" %>
      <%= image_tag "poledance.jpg", width: "100%",background:"center" %>
    <% elsif @lesson.subject.name == "Other" %>
      <%= image_tag "other.jpg", width: "100%",background:"center" %>
    <% end %>
    <div class="col-xs-12 text-center card-bottom">
      <p><%= @lesson.status%></p>
    </div>
    <% if @lesson.urgent %>
      <div class="col-xs-12 text-center card-urgent">
        <p><%= @lesson.urgent%></p>
      </div>
    <% end %>
  </div>

  <div class="show-content show-content user-show-content text-left">

    <p><strong>Date: </strong> <%= @lesson.start_date.strftime("%B %d, %Y") %></p>
    <p><strong>Time: </strong> <%= @lesson.start_time.strftime("%H:%M") %></p>
    <p><strong>Duration: </strong><%= @lesson.duration %> min. </p>
    <% if @lesson.price %>
    <p><strong>Compensation: </strong><%= @lesson.price %> € </p>
    <% end %>
    <p><strong>Address: </strong><%= @lesson.address %> </p>
    <p><strong>Requesting teacher: </strong>

    <% if @lesson.user.first_name  || @lesson.user.last_name %>
     <%= link_to user_path(@lesson.user) do %>
        <%= @lesson.user.first_name %> <%= @lesson.user.last_name %>
        <% end %>
    <% else %>
      <%= link_to user_path(@lesson.user) do %>
         <%= @lesson.user.email%>
        <% end %>
    <% end %>

    </p>
    <p><strong>Additional info: </strong><%= @lesson.description %> </p>
  </div>

  <div class="col-xs-12 text-center">

    <p><%=link_to 'View classes', lessons_path(show: "Open"), class:"dark-button" %> </p>
 <% if @lesson.can_be_subbed_by?(current_user) %>
      <% if @lesson.full? %>
        <p><%= "Sorry, this class has already three bookings, try to sub another class! "%> </p>
      <% else %>
        <p> <%= link_to "Sub this class", new_lesson_booking_path(@lesson), class:"dark-button"%> </p>
      <% end %>
    <% elsif @lesson.can_be_managed_by?(current_user) %>
      <p><%= link_to "Manage bookings", lesson_bookings_path(@lesson), class:"dark-button"%> </p>

    <% end %>

  </div>

<div
  id="map"
  style="width: 100%;
  height: 40vh;"
  data-markers="<%= @markers.to_json %>"
></div>

  </div>
</div>

